body {
    background:darkcyan;
    color:white;
    margin: 0px;
}


header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size:32px;

    
}
section{
    background:navy;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center;
    font-style: oblique;

}
.chamada-texto{
    margin-right: 20px;
}